<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Lists</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container py-5">
      <form
        class="row gx-3 gy-2 align-items-center"
        action="./contacts"
        method="POST"
      >
        <div class="col-sm-3">
          <input
            type="text"
            class="form-control <%= errors.name?'is-invalid':''%>"
            name="name"
            placeholder="Jane Doe"
          />
          <% if(errors.name){%>
          <div class="invalid-feedback"><%= errors.name %></div>
          <% }%>
        </div>
        <div class="col-sm-3">
          <input
            type="email"
            class="form-control <%= errors.email?'is-invalid':''%>"
            name="email"
            placeholder="jon@gmai.com"
          />
          <% if(errors.email){%>
          <div class="invalid-feedback"><%= errors.email %></div>
          <% }%>
        </div>
        <div class="col-sm-3">
          <input
            type="text"
            class="form-control <%= errors.phone?'is-invalid':''%>"
            name="phone"
            placeholder="+880100000000"
          />
          <% if(errors.phone){%>
          <div class="invalid-feedback"><%= errors.phone %></div>
          <% }%>
        </div>
        <div class="col-sm-3 d-none">
          <input type="hidden" name="id" />
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary" id="submit">
            Submit
          </button>
        </div>
      </form>
      <table class="table my-5">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
          </tr>
        </thead>
        <tbody>
          <% for( let i = 0; i < contacts.length; i++ ) { %>
          <tr>
            <th scope="row"><%=i+1 %></th>
            <td><%=contacts[i].name %></td>
            <td><%=contacts[i].email %></td>
            <td><%=contacts[i].phone %></td>
            <td>
              <button
                class="btn btn-warning btn-sm edit-btn"
                data-name="<%=contacts[i].name %>"
                data-email="<%=contacts[i].email %>"
                data-phone="<%=contacts[i].phone %>"
                data-id="<%=contacts[i].id %>"
              >
                Edit
              </button>
              <a href="/contacts/delete/<%=contacts[i]._id %> ">
                <button class="btn btn-danger btn-sm">Delete</button>
              </a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    <script>
      window.onload = () => {
        const editBtns = document.querySelectorAll(".edit-btn");
        const form = document.querySelector("form");
        const submit = document.getElementById("submit");
        const reseBtn = document.createElement("button");
        reseBtn.type = "reset";
        reseBtn.className = "btn btn-default";
        reseBtn.textContent = "Reset";
        editBtns.forEach((btn) => {
          btn.addEventListener("click", (e) => {
            form.name.value = e.target.dataset.name;
            form.email.value = e.target.dataset.email;
            form.phone.value = e.target.dataset.phone;
            form.id.value = e.target.dataset.id;

            submit.textContent = "Update";

            document.querySelector('.col-auto').insertAdjacentElement("afterbegin", reseBtn);
          });
        });
      };
    </script>
  </body>
</html>
